bytefont = 'Press Start 2P'

#hello
  width 480px
  text-align center
  display block
  margin 40px auto 0 auto
  font-family bytefont
  p
    padding-top 10px
  input
    font-family inherit
    font-size 0.7em

  gammonboard
    position relative
  gammonboard
  i
    position relative
    display inline-block
    width 34em
    height 20em
    background-color #ce9446

// pixel size
ps = 5px

// Upsize pixel
p(n)
  ps * n

triangle-bottom(color)
  box-shadow:
    p(3) p(0) 0 color,
    p(3) p(1) 0 color,
    p(2) p(2) 0 color,
    p(3) p(2) 0 color,
    p(4) p(2) 0 color,
    p(2) p(3) 0 color,
    p(3) p(3) 0 color,
    p(4) p(3) 0 color,
    p(2) p(4) 0 color,
    p(3) p(4) 0 color,
    p(4) p(4) 0 color,
    p(2) p(5) 0 color,
    p(3) p(5) 0 color,
    p(4) p(5) 0 color,
    p(2) p(6) 0 color,
    p(3) p(6) 0 color,
    p(4) p(6) 0 color,
    p(2) p(7) 0 color,
    p(3) p(7) 0 color,
    p(4) p(7) 0 color,
    p(2) p(8) 0 color,
    p(3) p(8) 0 color,
    p(4) p(8) 0 color,
    p(1) p(9) 0 color,
    p(2) p(9) 0 color,
    p(3) p(9) 0 color,
    p(4) p(9) 0 color,
    p(5) p(9) 0 color,
    p(1) p(10) 0 color,
    p(2) p(10) 0 color,
    p(3) p(10) 0 color,
    p(4) p(10) 0 color,
    p(5) p(10) 0 color,
    p(1) p(11) 0 color,
    p(2) p(11) 0 color,
    p(3) p(11) 0 color,
    p(4) p(11) 0 color,
    p(5) p(11) 0 color,
    p(1) p(12) 0 color,
    p(2) p(12) 0 color,
    p(3) p(12) 0 color,
    p(4) p(12) 0 color,
    p(5) p(12) 0 color,
    p(1) p(13) 0 color,
    p(2) p(13) 0 color,
    p(3) p(13) 0 color,
    p(4) p(13) 0 color,
    p(5) p(13) 0 color,
    p(1) p(14) 0 color,
    p(2) p(14) 0 color,
    p(3) p(14) 0 color,
    p(4) p(14) 0 color,
    p(5) p(14) 0 color,
    p(1) p(15) 0 color,
    p(2) p(15) 0 color,
    p(3) p(15) 0 color,
    p(4) p(15) 0 color,
    p(5) p(15) 0 color

// Spike sprites
spike-bottom(top, left, color)
  position absolute
  top 0px + top
  left 0px + left
  display block
  // Sets size of pixels for this element
  width p(1)
  height p(1)
  // Drawing
  triangle-bottom(color)

#spike1
  spike-bottom(290, 500, black)

#spike2
  spike-bottom(290, 550, white)




